<!DOCTYPE html>

{% if story_id %}
    <title>Super Sprinter 3000 - Edit Story</title>
    <form action='/update-table/{{update_line[0]}}', method='post'>
        <h3>User Story manager - Edit story</h3>
        <h4>Story title</h4>
            <textarea name='storytitle', cols=40, rows=1>{{update_line[1]}}</textarea>
        <h4>User story</h4>
            <textarea name='userstory', cols=40, rows=5>{{update_line[2]}}</textarea>
        <h4>Acceptance criteria</h4>
            <textarea name='acceptance', cols=40, rows=5>{{update_line[3]}}</textarea>
        <h4>Business value</h4>
            <p><input type='number', name='value', min='100', max='1500', step='100', value={{update_line[4]}}></p>
        <h4> Estimation (h)</h4>
            <p><input type='number', name='estimation', min='0.5', max='40', step='0.5', value={{update_line[5]}}></p>
        <h4>Status</h4>
        <select name='status', selected=>
            {% for item in ['Planning', 'TODO', 'In Progress', 'Review', 'Done'] %}
                {% if item == update_line[6] %}
                    <option selected>{{item}}</option>
                {% else %}
                    <option>{{item}}</option>
                {% endif %}
            {% endfor %}
        </select>
            <p><button type="submit">Update</p>
    </form>
{% else %}
    <title>Super Sprinter 3000 - Add new Story</title>
    <form action='/save-table', method='post'>
        <h3>User Story manage - Add new story</h3>
        <h4>Story title</h4>
            <textarea name='storytitle', cols=40, rows=1></textarea>
        <h4>User story</h4>
            <textarea name='userstory', cols=40, rows=5></textarea>
        <h4>Acceptance criteria</h4>
            <textarea name='acceptance', cols=40, rows=5></textarea>
        <h4>Business value</h4>
            <p><input type='number', name='value', min='100', max='1500', step='100'></p>
        <h4>Estimation (h)</h4>
            <p><input type='number', name='estimation', min='0.5', max='40', step='0.5'></p>
        <h4>Status</h4>
        <select name='status'>
            {% for item in ['Planning', 'TODO', 'In Progress', 'Review', 'Done'] %}
            <option>{{item}}</option>
            {% endfor %}
        </select>
            <p><button type="submit">Create</p>
    </form>
{% endif %}